
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1>span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('/images/emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  font-weight: 300;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 115px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h1>span {
    width: 86px;
    height: 86px;
  }
}


html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #40424a;
  margin: 0;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  color: #808181;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
/*noinspection ALL*/
.spad {
  padding-top: 125px;
  padding-bottom: 110px;
}

.section-title h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 110px;
  padding-bottom: 2px;
  line-height: normal;
}

.section-title h2:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #40424a;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------
  Common Elements
--------------------------*/

/* Preloder */
/*noinspection ALL*/
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

/*noinspection ALL*/
.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Site Buttons */
.site-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 213px;
  min-height: 20px;
  text-align: center;
  padding: 20px 10px 15px;
  position: relative;
  background-color: #fff;
  margin-right: 10px;
  border: 2px solid #40424a;
  color: #40424a;
  font-weight: 700;
}

.site-btn:hover {
  color: #40424a;
}

.circle-progress {
  text-align: center;
  padding-top: 30px;
  display: inline-block;
}

.circle-progress .prog-circle {
  margin-bottom: -155px;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  background: #f2f7f8;
  width: 127px;
  height: 127px;
  border-radius: 150px;
  margin: 0 auto;
  padding-top: 45px;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
  color: #40424a !important;
}

/*noinspection ALL*/
.circle-progress .prog-title {
  text-align: center;
  margin-top: 55px;
}

.circle-progress .prog-title h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.circle-progress .prog-title p {
  font-size: 15px;
  color: #808181 !important;
}

/* Image Popup */
/*noinspection ALL*/
.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/*noinspection ALL*/
.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Fact box */
/*noinspection ALL*/
.fact-box {
  height: 375px;
  display: table;
  width: 100%;
  background: #40424a;
}

.fact-box.trans {
  background-color: transparent;
}

/*noinspection ALL*/
.fact-box .fact-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fact-box .fact-content img {
  width: 60px;
  margin-bottom: 30px;
}

.fact-box .fact-content h2 {
  font-size: 36px;
  color: #fff;
}

.fact-box .fact-content p {
  color: #fff;
  margin-bottom: 0;
}

/* Porgess bar */
.single-progress-item {
  margin-bottom: 35px;
  position: relative;
}

.single-progress-item p {
  color: #40424a;
  margin-bottom: 0;
  font-weight: 600;
}

.progress-bar-style {
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.bar-inner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #40424a;
}

.bar-inner span {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: #40424a;
  font-weight: 600;
}

/* Progress dots */
.language-progress {
  max-width: 280px;
  list-style: none;
}

.language-progress li {
  font-size: 24px;
  position: relative;
  padding-right: 150px;
  margin-bottom: 30px;
}

/*noinspection ALL*/
.language-progress .lan-prog {
  position: absolute;
  right: 0;
  top: 0;
}

.language-progress .lan-prog span {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 18px;
  border-radius: 12px;
  background: #40424a;
}

/*noinspection ALL*/
.language-progress .lan-prog span.fade-ele {
  background: #cacaca;
}

/* Icon Box */
.icon-box {
  text-align: center;
  display: inline-block;
  margin-right: 60px;
}

.icon-box:last-child {
  margin-right: 0;
}

.icon-box i {
  font-size: 60px;
}

.icon-box p {
  color: #40424a;
}

.social-links a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*---------------------
	Header section
-----------------------*/
.header-section {
  padding: 50px 40px;
  background: #f2f7f8;
}

.site-logo h2 {
  font-size: 36px;
}

.site-logo h2 a {
  color: #40424a;
}

.site-logo p {
  font-size: 14px;
  line-height: normal;
}

.header-buttons a {
  margin-top: 15px;
}

/*---------------------
	Hero section
-----------------------*/
/*noinspection ALL*/
.hero-section {
  background: #f2f7f8;
}

/*noinspection ALL*/
.hero-text {
  margin-bottom: 80px;
}

.login-name{
  background-color: #28a745;
}

.hero-text h2 {
  font-size: 50px;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 33px;
  line-height: 1.3;
}

.hero-image {
  padding-top: 70px;
}

.hero-info h2 {
  margin-bottom: 30px;
}

.hero-info ul {
  list-style: none;
}

.hero-info ul li {
  font-size: 24px;
  color: #808181;
  margin-bottom: 15px;
}

.hero-info ul li span {
  color: #40424a;
  display: inline-block;
  min-width: 220px;
}

.hero-info ul li:last-child {
  margin-bottom: 0;
}

/*---------------------
	Social section
-----------------------*/
/*noinspection ALL*/
.social-section {
  background: #f9f9f9;
  padding: 80px 0;
}

.social-section .social-links {
  display: inline-block;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

.social-section .social-links a {
  color: #484848;
  font-size: 36px;
  margin-right: 40px;
}

.social-section .social-link-warp {
  position: relative;
}

.social-section .social-link-warp h2 {
  display: inline-block;
  float: right;
  font-weight: 400;
  padding-left: 30px;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

/*noinspection ALL*/
.social-section .social-link-warp:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  left: 23%;
  top: 50%;
  margin-top: 1px;
  background: #cbcbcb;
}

/*---------------------
	Resume section
----------------------*/
/*noinspection ALL*/
.resume-section.with-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/*noinspection ALL*/
.resume-list {
  list-style: none;
  margin-left: 60px;
  padding-left: 110px;
  border-left: 2px solid #40424a;
}

.resume-list li {
  margin-bottom: 120px;
  position: relative;
}

.resume-list li:last-child {
  margin-bottom: 0;
}

.resume-list li:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid #40424a;
  border-radius: 50px;
  background: #cacaca;
  top: 30px;
  left: -118px;
}

.resume-list h2 {
  font-size: 72px;
  margin-bottom: 10px;
}

.resume-list h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #808181;
  margin-top: 10px;
  margin-bottom: 45px;
}

.resume-list p {
  margin-bottom: 0;
}

/*---------------------
	Review section
-----------------------*/
/*noinspection ALL*/
.review-slider {
  padding-left: 150px;
}

/*noinspection ALL*/
.review-slider .owl-dots {
  position: absolute;
  left: 50px;
  top: 70px;
}

/*noinspection ALL*/
.single-review .qut {
  font-size: 120px;
  line-height: 0;
  color: #505259;
  margin-top: 60px;
}

.single-review p {
  margin-bottom: 40px;
}

.single-review h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-review h4 {
  font-size: 16px;
}

/*---------------------
	Portfolio section
----------------------*/
/*noinspection ALL*/
.portfolio-warp {
  padding: 0 60px;
}

.portfolio-item h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.portfolio-item p {
  font-size: 14px;
  margin-bottom: 0;
}

/*noinspection ALL*/
.portfolio-item .port-pic {
  margin-bottom: 30px;
  display: block;
  height: 480px;
  background: #333;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

/*noinspection ALL*/
.portfolio-item .port-pic:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #000;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53) 0s;
  -o-transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53) 0s;
  transition: all 0.4s cubic-bezier(0.55, 0.09, 0.68, 0.53) 0s;
}

/*noinspection ALL*/
.portfolio-item:hover .port-pic:after {
  opacity: 0.8;
  height: 100%;
  top: 0;
}

/*---------------------
	Contact section
-----------------------*/
/*noinspection ALL*/
.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  background-color: transparent;
  padding-left: 25px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cacaca;
  margin-bottom: 30px;
  font-size: 13px;
}

.contact-form textarea {
  padding-left: 25px;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cacaca;
  margin-bottom: 30px;
  font-size: 13px;
  background-color: transparent;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::placeholder {
  font-style: italic;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
  background: #40424a;
  padding: 20px 0;
}

.copyright {
  padding-top: 5px;
  font-size: 12px;
  color: #838488;
  line-height: normal;
}

/*---------------------
	Home 2 Style
-----------------------*/
/*noinspection ALL*/
.home-two-style {
  background-image: url(../img/home-2-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #009fff;
}

/*noinspection ALL*/
.home-two-style h1,
.home-two-style h2,
.home-two-style h3,
.home-two-style h4,
.home-two-style h5,
.home-two-style h6,
.home-two-style p,
.home-two-style .site-logo h2 a,
.home-two-style .site-logo p,
.home-two-style .hero-info ul li,
.home-two-style .hero-info ul li span,
.home-two-style .single-review .qut,
.home-two-style .site-btn,
.home-two-style .social-section .social-links a,
.home-two-style .contact-form input,
.home-two-style .contact-form textarea,
.home-two-style .circle-progress .prog-title p,
.home-two-style .circle-progress .prog-title h3,
.home-two-style .circle-progress .progress-info h2 {
  color: #fff !important;
}

/*noinspection ALL*/
.home-two-style .hero-image {
  padding-left: 0px;
  padding-top: 200px;
}

.home-two-style .hero-image img {
  -webkit-box-shadow: 6px 20px 50px rgba(0, 0, 0, 0.5294117647);
  box-shadow: 6px 20px 50px rgba(0, 0, 0, 0.5294117647);
}

.home-two-style .resume-list li:after {
  background: #009fff;
}

.home-two-style .circle-progress .progress-info {
  background: #50bcfd;
}

/*noinspection ALL*/
.home-two-style .fact-box {
  border: 2px solid #fff;
}

/*noinspection ALL*/
.home-two-style .fact-box.trans {
  border: none;
}

.home-two-style .footer-section {
  background: #3a4db4;
}

.home-two-style .contact-form ::-webkit-input-placeholder {
  color: #fff;
}

.home-two-style .contact-form :-ms-input-placeholder {
  color: #fff;
}

.home-two-style .contact-form ::-ms-input-placeholder {
  color: #fff;
}

.home-two-style .contact-form ::placeholder {
  color: #fff;
}

/*---------------------
	Home 3 Style
-----------------------*/
.home-three-style .main-left-area,
.home-four-style .main-left-area {
  background: #f2f7f8;
  padding-top: 200px;
  padding-right: 80px;
  padding-left: 80px;
}

.home-three-style .main-left-area .section-title h2,
.home-four-style .main-left-area .section-title h2 {
  margin-bottom: 130px;
}

.home-three-style .main-right-area,
.home-four-style .main-right-area {
  padding-top: 200px;
  padding-left: 110px;
}

.home-three-style .resume-list li,
.home-four-style .resume-list li {
  padding-left: 0;
}

.home-three-style .resume-list li:after,
.home-four-style .resume-list li:after {
  display: none;
}

/*noinspection ALL*/
.home-three-style .resume-list,
.home-four-style .resume-list {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.home-three-style .header-section,
.home-four-style .header-section {
  padding: 50px 80px;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*noinspection ALL*/
.home-three-style .hero-image,
.home-four-style .hero-image {
  margin-bottom: 100px;
}

.home-three-style .hero-text h2,
.home-four-style .hero-text h2 {
  font-size: 72px;
  margin-bottom: 40px;
}

/*noinspection ALL*/
.home-three-style .review-slider,
.home-four-style .review-slider {
  padding-left: 0;
}

/*noinspection ALL*/
.home-three-style .review-slider .owl-dots,
.home-four-style .review-slider .owl-dots {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 50px;
}

/*noinspection ALL*/
.home-three-style .skills,
.home-four-style .skills {
  max-width: 555px;
}

/*noinspection ALL*/
.home-three-style .fact-box.trans,
.home-four-style .fact-box.trans {
  margin-bottom: 80px;
}

/*noinspection ALL*/
.home-three-style .social-links,
.home-four-style .social-links {
  text-align: center;
  padding-bottom: 70px;
  padding-top: 120px;
}

.home-three-style .social-links a,
.home-four-style .social-links a {
  font-size: 30px;
  margin-right: 40px;
  color: #b9b9b9;
}

.home-three-style .social-links a:hover,
.home-four-style .social-links a:hover {
  color: #484848;
}

/*---------------------
	Home 4 Style
-----------------------*/
.home-four-style .site-logo h2 a,
.home-four-style .site-logo p {
  color: #fff;
}

.home-four-style .main-left-area {
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#481340+0,ff0f3c+100,ff0f3c+100 */
  background: #481340;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #481340 0%, #ff0f3c 100%, #ff0f3c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#481340), color-stop(100%, #ff0f3c), to(#ff0f3c));
  background: -o-linear-gradient(top, #481340 0%, #ff0f3c 100%, #ff0f3c 100%);
  background: linear-gradient(to bottom, #481340 0%, #ff0f3c 100%, #ff0f3c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#481340', endColorstr='#ff0f3c', GradientType=0);
  /* IE6-9 */
}

.home-four-style .main-left-area:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/*noinspection ALL*/
.home-four-style .main-left-area h1,
.home-four-style .main-left-area h2,
.home-four-style .main-left-area h3,
.home-four-style .main-left-area h4,
.home-four-style .main-left-area h5,
.home-four-style .main-left-area h6,
.home-four-style .main-left-area p,
.home-four-style .main-left-area .hero-info ul li,
.home-four-style .main-left-area .hero-info ul li span,
.home-four-style .main-left-area .site-btn,
.home-four-style .main-left-area .social-section,
.home-four-style .main-left-area .social-links a,
.home-four-style .main-left-area .contact-form input,
.home-four-style .main-left-area .contact-form textarea,
.home-four-style .main-left-area .circle-progress .prog-title p,
.home-four-style .main-left-area .circle-progress .prog-title h3,
.home-four-style .main-left-area .circle-progress .progress-info h2,
.home-four-style .main-left-area .language-progress li {
  color: #fff !important;
}

.home-four-style .main-left-area .circle-progress .progress-info {
  background: rgba(255, 255, 255, 0.29);
}

.home-four-style .main-left-area .section-title h2:after,
.home-four-style .main-left-area .language-progress .lan-prog span {
  background: #fff;
}

/*noinspection ALL*/
.home-four-style .main-left-area .language-progress .lan-prog span.fade-ele {
  background: rgba(255, 255, 255, 0.29);
}

/*noinspection ALL*/
.home-four-style .main-left-area .fact-box {
  background-color: transparent;
  border: 2px solid #fff;
}

/*noinspection ALL*/
.home-four-style .main-left-area .fact-box.trans {
  border: none;
}

.home-four-style .main-left-area .intro-section {
  position: relative;
  z-index: 2;
}

/*noinspection ALL*/
.home-four-style .main-right-area .resume-list h2,
.home-four-style .main-right-area .single-review .qut {
  color: #ff0f3c;
}

/*---------------------
	Home 5 Style
-----------------------*/
.home-five-style .header-section {
  padding: 50px 80px;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*noinspection ALL*/
.home-five-style .hero-section {
  padding-top: 70px;
}

.home-five-style .hero-section img {
  margin-bottom: 60px;
}

.home-five-style .hero-text h2 {
  font-size: 72px;
  margin-bottom: 40px;
}

/*noinspection ALL*/
.home-five-style .social-links {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 70px;
}

.home-five-style .social-links a {
  font-size: 30px;
  margin-right: 40px;
  color: #b9b9b9;
}

.home-five-style .social-links a:hover {
  color: #484848;
}

.home-five-style .resume-list li {
  padding-left: 0;
}

.home-five-style .resume-list li:after {
  display: none;
}

/*noinspection ALL*/
.home-five-style .resume-list {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

/*noinspection ALL*/
.home-five-style .review-slider {
  padding-left: 0;
}

/*noinspection ALL*/
.home-five-style .review-slider .owl-dots {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 50px;
}

.home-five-style .circle-progress {
  padding-top: 0;
}

/*---------------------
	Home 6 Style
-----------------------*/
.home-six-style .site-logo h2 a,
.home-six-style .site-logo p,
.home-six-style .hero-text h2,
.home-six-style .hero-text p,
.home-six-style .social-links a {
  color: #fff;
}

/*noinspection ALL*/
.home-six-style .resume-list h2,
.home-six-style .icon-box i,
.home-six-style .single-review .qut {
  color: #009fff;
}

.home-six-style .language-progress .lan-prog span.fade-ele {
  background: #cacaca;
}

.home-six-style .header-section {
  padding: 50px 80px;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/*noinspection ALL*/
.home-six-style .hero-section {
  background: #009fff;
  padding-top: 70px;
}

.home-six-style .hero-section img {
  margin-bottom: 60px;
}

.home-six-style .hero-text h2 {
  font-size: 72px;
  margin-bottom: 40px;
}

.home-six-style .social-links {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 70px;
}

.home-six-style .social-links a {
  font-size: 30px;
  margin-right: 40px;
  color: #b9b9b9;
}

.home-six-style .social-links a:hover {
  color: #484848;
}

.home-six-style .resume-list li {
  padding-left: 0;
}

.home-six-style .resume-list li:after {
  display: none;
}

/*noinspection ALL*/
.home-six-style .resume-list {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.home-six-style .review-slider {
  padding-left: 0;
}

.home-six-style .review-slider .owl-dots {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 50px;
}

.home-six-style .circle-progress {
  padding-top: 0;
}

.info-section {
  background: #40424a;
  padding: 60px 0;
}

.info-section .hero-info ul li {
  color: #fff;
}

.info-section .hero-info ul li span {
  color: #fff;
}


/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1730px) {
  /*noinspection ALL*/
  .home-two-style .social-section .social-link-warp:after {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .hero-text h2 {
    font-size: 120px;
  }
}

@media only screen and (max-width: 1450px) {
  .home-five-style .header-section {
    position: relative;
    background: #f2f7f8;
  }
  .home-six-style .header-section {
    position: relative;
    background: #009fff;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {
  .home-five-style .header-section {
    position: relative;
    background: #f2f7f8;
  }
  .container-warp {
    min-width: 80%;
    margin-left: 10%;
  }
  .hero-info ul li span {
    min-width: 180px;
  }

  /*noinspection ALL*/
  .portfolio-item .port-pic {
    height: 310px;
  }
  .home-three-style .header-section {
    padding: 50px 30px;
  }
  .home-three-style .main-left-area {
    padding-right: 30px;
    padding-left: 30px;
  }
  .home-three-style .main-right-area {
    padding-left: 100px;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*noinspection ALL*/
  .portfolio-warp {
    padding: 0;
  }
  .home-three-style .header-section {
    padding: 50px 15px;
  }
  .home-three-style .main-left-area {
    padding-right: 15px;
    padding-left: 15px;
  }
  .home-three-style .main-right-area {
    padding-left: 50px;
  }
  .home-three-style .main-right-area {
    padding-left: 100px;
  }

  /*noinspection ALL*/
  .portfolio-item .port-pic {
    height: 310px;
  }

  /*noinspection ALL*/
  .portfolio-item {
    margin-bottom: 30px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*noinspection ALL*/
  .portfolio-warp {
    padding: 0;
  }
  .hidden-md {
    display: none !important;
  }
  .icon-box {
    margin-right: 30px;
  }

  /*noinspection ALL*/
  .social-section .social-links {
    display: block;
    text-align: center;
  }

  /*noinspection ALL*/
  .social-link-warp:after {
    display: none;
  }

  /*noinspection ALL*/
  .portfolio-item {
    margin-bottom: 30px;
  }
  .home-three-style .header-section {
    position: relative;
    background: #f2f7f8;
  }
  .home-three-style .main-left-area {
    padding-top: 0;
  }
  .home-three-style .main-left-area,
  .home-three-style .header-section,
  .home-three-style .main-right-area,
  .home-four-style .main-left-area,
  .home-four-style .header-section,
  .home-four-style .main-right-area {
    padding-right: 30px;
    padding-left: 30px;
  }
  .home-five-style .header-section,
  .home-six-style .header-section {
    padding: 50px 0;
  }
  .info-section .hero-info ul li span {
    color: #9c9b9b;
  }
  .hero-info ul li {
    margin-bottom: 30px;
  }
  .hero-info ul li span {
    display: block;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .icon-box {
    margin-right: 30px;
    text-align: left;
  }
  .hero-text h2 {
    font-size: 80px;
  }

  /*noinspection ALL*/
  .portfolio-warp {
    padding: 0;
  }
  .hidden-md {
    display: none !important;
  }

  /*noinspection ALL*/
  .resume-list {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  /*noinspection ALL*/
  .review-slider {
    padding-left: 0;
  }

  /*noinspection ALL*/
  .review-slider .owl-dots {
    position: relative;
    left: 0;
    top: 70px;
  }

  /*noinspection ALL*/
  .portfolio-item {
    margin-bottom: 30px;
  }

  /*noinspection ALL*/
  .fact-box {
    margin-bottom: 30px;
  }
  .header-section {
    padding: 50px 0;
  }

  /*noinspection ALL*/
  .social-section .social-links {
    display: block;
    text-align: center;
  }
  .home-three-style .header-section {
    position: relative;
    background: #f2f7f8;
  }
  .home-three-style .main-left-area {
    padding-top: 0;
  }
  .home-three-style .main-left-area,
  .home-three-style .header-section,
  .home-three-style .main-right-area,
  .home-four-style .main-left-area,
  .home-four-style .header-section,
  .home-four-style .main-right-area {
    padding-right: 30px;
    padding-left: 30px;
  }
  .home-five-style .header-section,
  .home-six-style .header-section {
    padding: 50px 0;
  }
  .info-section .hero-info ul li span {
    color: #9c9b9b;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .hero-text h2 {
    font-size: 50px;
  }
  .hero-info ul li {
    font-size: 18px;
  }
  .hero-info ul li span {
    display: block;
  }
  .social-section .social-links a {
    margin-right: 30px;
  }
  .resume-list h2 {
    font-size: 50px;
  }
  .portfolio-item {
    margin-bottom: 30px;
  }
  .home-three-style .main-left-area,
  .home-three-style .header-section,
  .home-three-style .main-right-area,
  .home-four-style .main-left-area,
  .home-four-style .header-section,
  .home-four-style .main-right-area {
    padding-right: 15px;
    padding-left: 15px;
  }
  .home-four-style .main-left-area {
    padding-top: 250px;
  }
}
body {
  line-height: 1.7;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.1rem;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.2s all ease-in-out !important;
  -o-transition: 0.2s all ease-in-out !important;
  transition: 0.2s all ease-in-out !important;
  top: 0;
  letter-spacing: .05em;
  padding: 10px 20px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000; }
  .btn.btn-sm {
    font-size: 0.9rem; }
  .btn.btn-primary {
    font-weight: 300;
    letter-spacing: .2em; }
  .btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    top: -2px; }

.bg-black {
  background: #000; }

.text-center {
  color: black;
}

.tableDoctors {
  color: black;
  caption-side: top !important;
}
.text-black {
  color: #271818 !important;
  font-size: 40px;
}
.form-control {
  height: 47px; }
  .form-control:active, .form-control:focus {
    border-color: #f23a2e; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }
  .site-section-heading:before {
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #f23a2e; }
  .site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #f23a2e; }



.site-footer {
  padding: 4em 0;
  background: #dee2e6;

}
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 20px;
    color: #fff; }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.bg-image {
  background-size: cover;
  background-repeat: no-rpeeat;
  overflow: hidden; }
  .bg-image.center {
    background-position: top center; }
  .bg-image.fixed {
    background-position: fixed !important; }
  .bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info, .bg-image.overlay-success, .bg-image.overlay-warning {
    position: relative; }
    .bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before, .bg-image.overlay-success:before, .bg-image.overlay-warning:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
  .bg-image.overlay:before {
    background: rgba(0, 0, 0, 0.4); }
  .bg-image.overlay-primary:before {
    background: rgba(242, 58, 46, 0.9); }
  .bg-image.overlay-info:before {
    background: rgba(23, 162, 184, 0.9); }
  .bg-image.overlay-success:before {
    background: rgba(40, 167, 69, 0.9); }
  .bg-image.overlay-success:before {
    background: rgba(238, 198, 10, 0.9); }

/* Navbar */
.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0; }
  .site-navbar-wrap a {
    color: #fff; }
  .site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem; }

.site-navbar-top, .site-navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .site-navbar .site-logo {
    font-weight: 200; }
    .site-navbar .site-logo a {
      font-weight: 200;
      color: #fff; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #fff; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      font-size: 15px;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block;
      padding: 10px 5px; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 10px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fff; }
      .site-navbar .site-navigation .site-menu > li:last-child {
        padding-right: 0; }
        .site-navbar .site-navigation .site-menu > li:last-child > a {
          padding-right: 0; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          font-size: 16px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #fff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children a {
        text-transform: uppercase; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #f23a2e; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #f23a2e; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 900px;
    height: calc(40vh); }
  .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 600px;
    height: calc(80vh); }
  .site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em; }
  .site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem; }
    .site-blocks-cover h1 strong {
      font-weight: 600; }
    @media (min-width: 368px) {
      .site-blocks-cover h1 {
        font-size: 5rem;
        font-weight: 300;
        line-height: 1.2; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }

.site-heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem; }
  @media (min-width: 768px) {
    .site-heading {
      font-size: 3rem; } }
  .site-heading strong {
    font-weight: 900; }

.site-block-1 {
  padding-top: 50px; }
  @media (min-width: 992px) {
    .site-block-1 {
      padding-top: 0;
      position: absolute;
      width: 100%;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); } }

/*noinspection ALL*/
.site-block-appointment, .bg-light {
  background: #ece8d9 !important; }
  .site-block-appointment form, .bg-light form {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.text-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

/*noinspection ALL*/
.site-block-feature {
  background: rgba(0, 0, 0, 0.5);
  position: relative; }
  .site-block-feature .icon {
    font-size: 50px; }
  .site-block-feature h3 {
    font-size: 15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff; }
  .site-block-feature p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem; }
    .site-block-feature p:last-child {
      margin-bottom: 0; }

.site-block-feature-2 .icon {
  font-size: 50px;
  position: relative;
  line-height: 1; }

.site-block-feature-2 h3 {
  font-size: 1.5rem; }

.site-block-3 .row-items {
  height: calc(50% - 15px);
  margin-bottom: 30px; }
  .site-block-3 .row-items.last {
    height: calc(50% - 15px);
    margin-bottom: 0; }

/*noinspection ALL*/
.site-block-3 .feature {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  height: 100%; }
  .site-block-3 .feature h3 {
    color: #000;
    font-size: 1.4rem; }

/*noinspection ALL*/
.site-block-3 .feature:hover, .site-block-3 .feature:active, .site-block-3 .feature:focus, .site-block-3 .feature.active {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.site-block-half .image, .site-block-half .text {
  width: 100%; }
  @media (min-width: 992px) {
    .site-block-half .image, .site-block-half .text {
      width: 50%; } }

@media (max-width: 991.98px) {
  .site-block-half .image {
    margin-bottom: 50px; } }

.site-block-half .text {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .site-block-half .text {
      padding: 4rem; } }
  @media (min-width: 1200px) {
    .site-block-half .text {
      padding: 8rem; } }

.site-block-half .bg-image {
  background-position: center center; }
  @media (max-width: 991.98px) {
    .site-block-half .bg-image {
      height: 400px; } }

.site-block-half.site-block-video .image {
  position: relative; }

/*noinspection ALL*/
.site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #f23a2e !important; }

/*noinspection ALL*/
.site-block-half.site-block-video .image .play-button:hover {
      opacity: 1; }
    .site-block-half.site-block-video .image .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%); }

.site-block-testimony img {
  max-width: 140px;
  border-radius: 50%; }

.site-block-testimony p {
  font-size: 1.2rem; }

/*noinspection ALL*/
.site-block-testimony.active {
  background: #fff;
  -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1); }

.post-entry {
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6; }
  .post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important; }
  .post-entry .date {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .1em; }
  .post-entry .image {
    overflow: hidden;
    position: relative; }
    .post-entry .image img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.block-13, .slide-one-item {
  position: relative;
  z-index: 1; }
  .block-13 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

/*noinspection ALL*/
.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
      position: relative;
      display: inline-block;
      padding: 20px;
      font-size: 30px;
      color: #fff; }

/*noinspection ALL*/
.block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
        opacity: .2; }

.slide-one-item.home-slider .owl-nav {
  bottom: 40px; }
  @media (min-width: 768px) {
    .slide-one-item.home-slider .owl-nav {
      bottom: 80px; } }

.slide-one-item .owl-item > div {
  height: 300px; }
  @media (min-width: 768px) {
    .slide-one-item .owl-item > div {
      height: 800px; } }

.block-12 {
  position: relative; }
  .block-12 figure {
    position: relative; }
    .block-12 figure:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .block-12 .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10; }
    .block-12 .text-overlay h2 {
      color: #fff; }
  .block-12 .text {
    position: relative;
    top: -100px; }
    .block-12 .text .meta {
      text-transform: uppercase;
      padding-left: 40px;
      color: #fff;
      display: block;
      margin-bottom: 20px; }
    .block-12 .text .text-inner {
      -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 10px;
      margin-right: 30px;
      position: relative; }
      @media (min-width: 576px) {
        .block-12 .text .text-inner {
          padding: 20px; } }
      @media (min-width: 768px) {
        .block-12 .text .text-inner {
          padding: 30px 40px; } }
      .block-12 .text .text-inner:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 4px;
        margin-top: -4px;
        background: #f23a2e;
        top: 0; }
      .block-12 .text .text-inner .heading {
        font-size: 20px;
        margin: 0;
        padding: 0; }

.block-16 figure {
  position: relative; }

/*noinspection ALL*/
.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #f23a2e !important; }
    .block-16 figure .play-button:hover {
      opacity: 1; }
    .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%); }

.block-25 ul, .block-25 ul li {
  padding: 0;
  margin: 0; }

.block-25 ul li .date {
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.8rem;
  display: block; }

.block-25 ul li a .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px; }
  .block-25 ul li a .image img {
    border-radius: 4px;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.block-25 ul li a .text .heading {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #999999; }

.block-25 ul li a .meta {
  color: #f23a2e; }

.block-25 ul li a:hover img {
  opacity: .5; }

.block-25 ul li a:hover .text .heading {
  color: #fff; }

#date-countdown .countdown-block {
  color: rgba(255, 255, 255, 0.4); }

#date-countdown .label {
  font-size: 40px;
  color: #fff; }

.next-match .image {
  width: 50px;
  border-radius: 50%; }

.player {
  position: relative; }
  .player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px; }

/*noinspection ALL*/
.player .team-number {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #f23a2e;
    border-radius: 50%;
    color: #fff; }
    .player .team-number > span {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; }
  .player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase; }

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0; }
.error-doctor{
  margin-top: 50px;
  color: #f90916;
  text-align: center;
  font-size: 40px;
  font-style: italic
}
.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px; }
  .site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc; }
  .site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #f23a2e;
    color: #fff;
    border: 1px solid transparent; }
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  /*background: #FFf;*/
}
body a{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
body h1,h2,h3,h4,h5,h6{
  font-family: 'Asap', sans-serif;
}
/*-- header --*/
#home {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height:650px;
  position: relative;
}
.top-header {
  padding: 2em 0;
}
.logo h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
}
.logo h1 a{
  text-decoration:none;
  color:#fff;
}
.logo span {
  border: 7px solid #00a78e;
  padding: 0px 14px;
  font-size: 1.2em;
  color: #fff;
}
.logo{
  float:left;
}
.navigation-right{
  float:right;
}
.navigation-right ul li{
  display:inline-block;
}
.navigation-right ul li a{
  color:#fff;
  font-size:1em;
  text-decoration: none;
  padding: 10px 0;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
}
.navigation-right ul li.active a{
  color: #00a78e;
}
span.menu{
  display:none;
}
/*-- nav-hover --*/
.link-effect-3 a {
  padding: 10px 0;
  margin: 0 12px;
  color: #797878;
  text-shadow: none;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.link-effect-3 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 3px solid #00a78e;
  color: #00a78e;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
  max-width: 100%;
}
/*--banner-info--*/
.banner-info {
  background:rgba(204, 211, 221, 0.44);;
  margin-top: 4em;
}
.header-left {
  padding: 3em;
}
.header-right {
  padding: 3em;
}
ul.address-text {
  padding: 0;
}
ul.address {
  padding: 0;
}
.header-left img {
  width: 100%;
  margin-top: 19px;
}
.header-right {
  padding-left: 3em;
}
.header-right h1 {
  font-size: 2.5em;
  color: #fff;
  margin: 0.5em 0 0;
  font-weight: bold;
}
.header-right h1 {
  font-size: 1.2em;
  color: #FFF;
  background: #00a78e;
  display: inline-block;
  padding: .5em 1.5em;
  position: relative;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.header-right h1:before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -9px;
  left: 12px;
  border-style: solid;
  border-width: 14px 11px 0 12px;
  border-color: #00a78e transparent transparent transparent;
}
.service-head h4 {
  font-size: 1.2em;
  color: #FFF;
  background: #00a78e;
  display: inline-block;
  padding: .5em 1.5em;
  position: relative;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.service-head h4:before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -9px;
  left: 12px;
  border-style: solid;
  border-width: 14px 11px 0 12px;
  border-color: #00a78e transparent transparent transparent;

}
.header-right h3 {
  color: #0d0909;
  margin-top: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
}
ul.address {
  margin-top: 2em;
  border-top: 1px solid #AFAFAF;
  padding-top: 0.5em;
}
ul.address li {
  display: block;
}
ul.address li ul.address-text li {
  display: inline-block;
  font-size: 1em;
  color: #0d0909;
  margin-top: 1em;
  font-weight: 400;
}
ul.address li ul.address-text li:nth-child(1){
  width: 20%;
}
ul.address li ul.address-text li a {
  color: #0d0909;
  text-decoration:none;
}
ul.address li ul.address-text li a:hover{
  color: #00a78e;
}
ul.address-text b {
  color: #0d0909;
}
/*--social-icons--*/
ul.social-icons{
  display: block;
  padding: 0;
  background:#00a78e;
  padding:1.3em 0;
  text-align: center;
  margin:0;
}
.banner-info {
  box-shadow: inset -1px 1px 1px 2px #e0e0e0;
}
.social-icons li {
  display: inline-block;
  margin-right: 1%;
}
.social-icons li a{
  background: url(../images/social-icons2.png) no-repeat 3px 3px;
  display: block;
  height: 32px;
  width: 32px;
  margin-right: 1em;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
}
.social-icons li a:before {
  content: '';
  display: block;
  height: 32px;
  width: 32px;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.social-icons li a.fb{
  background-position: 3px -30px;
}
.social-icons li a.in{
  background-position: 3px -62px;
}

/*noinspection ALL*/
.social-icons li a.dott {
  background-position: 3px -94px;
}
.social-icons li a:hover::before {
  border-color: #00a78e;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*-- wellcome-note --*/
/*noinspection ALL*/
.welcome-note{
  margin:3em 0;
}
.note{

}
.note h1{
  color:#FFF;
  font-size:2.5em;
  font-weight:400;
}
.note h1 span{
  font-weight:700;
}
/*-- /blogs --*/
.news-text {
  float: right;
  padding: 3.38em 2em;
  background: #f4f4f4;
}
.news-img {
  float: left;
  position: relative;
  padding: 0;
}
.news-text.two {
  float:left;
}
.news-img img,.news-img.two  img{
  width: 100%;
}

/*noinspection ALL*/
.news-img.two {
  float:right;
}
.news-text h3   {
  font-size: 1.4em;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight:bold;
}
.news-text p {
  font-size: 0.9em;
  line-height: 1.9em;
  margin: 1em 0 2em 0;
  color: #777;
}
.news-text h3  a,ul.news li:hover  i{
  color:#00a78e;
  text-decoration:none;
}
ul.news li {
  display: inline-block;
  margin-right: 1em;
}
ul.news li i {
  margin-right: 4px;
}
ul.news li a{
  font-size: 0.9em;
  color: #777;
}
ul.news li i{
  color:#333;
}
a.read {
  padding: 0.5em 1.5em;
  font-size: 1em;
  color: #00a78e;
  border: 2px solid #00a78e;
  text-decoration: none;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
}
a.read:hover {
  background:#00a78e;
  color:#fff;
}
ul.news {
  padding: 0;
}
.news-grid {
  margin: 2em 0;
}
.news-grid:hover{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -o-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*noinspection ALL*/
.blog {
  padding:5em 0;
}
.about-inner p {
  color: #777;
  line-height: 1.8em;
  font-size:0.9em;
}
h4.tittle  {
  color: #00a78e;
  text-decoration: none;
  font-size: 1.4em;
  margin: 1em 0 0.5em 0;
  text-transform: uppercase;
  font-weight: bold;
}
.modal-dialog.about {
  width: 757px;
  margin:3.5em auto 0;
}
.modal-content.about {
  background-color: #fff;
  border-radius: 0px!important;
}
.modal-body {
  position: relative;
  padding: 20px;
  text-align: center;
}
/*-- about-us --*/
span.border {
  width: 18%;
  background: #8C8989;
  height: 1px;
  display: block;
  margin-top: 26px;
  position: relative;
  margin: 23px auto 0px;
}
span.border:after {
  content: ' ';
  position: absolute;
  background: #00a78e;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
  left: 103px;
}
span.border.one:after {
  content: ' ';
  position: absolute;
  background: #00a78e;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
  left: 64px;
}
.about-left-grid h3{
  font-size:2.5em;
  color:#FFF;
}

/*noinspection ALL*/
.about-left-grid{
  width:70%;
  float:right;
  margin-right: 10em;
  min-height:433px;
}
.about-left-grid h2{
  color:#191919;
  font-size:2em;
}
.about-left-grid h2 span{
  font-weight:700;
}
.about-left-grid p{
  color: #666666;
  font-size:1em;
  line-height: 2em;
  margin-top: 1.5em;
}
.about-left-grid ul{
  margin:3em 0 0 0;
  padding:0;
}
.about-left-grid ul li{
  display:inline-block;
}
.about-left-grid ul li:nth-child(1){
  margin-right: 0.2em;
}
.about-left {
  padding: 4.5em 0 4.7em 0;
  float: right;
  background: #f4f4f4;
}
.about-left-grid ul li a {
  padding: 0.6em 2em;
  font-size: 1.2em;
  color: #00a78e;
  border: 2px solid #00a78e;
  text-decoration: none;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
}
.about-left-grid ul li a:hover{
  background:#00a78e;
  color:#FFF;
  border-radius:1.5em;
  -webkit-border-radius:1.5em;
  -moz-border-radius:1.5em;
  -o-border-radius:1.5em;
  -ms-border-radius:1.5em;
}
.about-right{
  float: left;
  padding:0;
  background:url(../images/about-pic.jpg) no-repeat 0px 0px;
  min-height:580px;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}
/*-- services --*/
.service-head h3{
  color: #1b242f;
  font-size: 2em;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0 0 0.2em 0;
}
.service-head h3 span{
  font-weight:700;
  font-family: 'Asap', sans-serif;
}
.wthree_about_left,.wthree_about_right{
  padding:0;
}

/*noinspection ALL*/
.wthree_about_right{
  background:#f5f5f5;
  padding:3.27em 8em;
}
.wthree_about_right h3{
  text-align:left;
}
.wthree_about_right h3 span:before,.wthree_about_right h3 span:after{
  content: '';
  position: absolute;
  bottom: 0%;
}
.wthree_about_right h3 span:before{
  left:0%;
  width:30%;
  height: 1px;
  background: #212121;
}
.wthree_about_right h3 span:after{
  right:85.5%;
  width: 2%;
  background: #EE692D;
  height: 4px;
}
.wthree_about_right p{
  margin:2em 0 3em;
  color:#999;
  line-height:1.8em;
}
.wthree_about_right p i{
  display:block;
  margin:1em 0 0;
}

/*noinspection ALL*/
.wthree_about_right_grid_left{
  padding: 0;
}
.wthree_about_right_grid_left i{
  font-size: 1.7em;
  color:#00a78e;
  top:.8em;
}
.wthree_about_right_grid:hover .wthree_about_right_grid_left i{
  color:#fff;
}
.wthree_about_right_grid_right h4{
  text-transform: uppercase;
  font-size: 1.2em;
  color: #00a78e;
  font-weight: bold;
}
.wthree_about_right_grid_right p{
  margin: 1em 0 0;
  color: #586371;
  line-height: 1.9em;
  font-size: 0.9em;
}

/*noinspection ALL*/
.wthree_about_right_grid_right {
  padding-right: 0;
}

/*noinspection ALL*/
.wthree_about_right_grid:nth-child(2) {
  margin-bottom: 2em;
}
/* Rectangle In */
/*noinspection ALL*/
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#00a78e;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
}

/*noinspection ALL*/
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#F5F5F5;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 50%;
}

/*noinspection ALL*/
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}

/*noinspection ALL*/
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before,.wthree_about_right_grid:hover .hvr-rectangle-in:before,.agileits_services_grid:hover .hvr-rectangle-in:before{
  -webkit-transform: scale(0);
  transform: scale(0);
}

/*noinspection ALL*/
.wthree_about_right_grids {
  margin-top: 4em;
}
#services {
  padding: 5em 0;
  background: #1b242f;
}
.service-head.one h3{
  color:#fff;
}
/*-- clients --*/

#work {
  padding: 5em 0;
}
.timeline {
  list-style: none;
  padding: 10px 0 10px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #ccc;
  left: -9px;
  margin-right: -1.5px;
}

.timeline > li {
  margin-bottom:10px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: right;
  border: 1px solid #d4d4d4;
  padding: 15px 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
  border-bottom: 5px solid #00a78e;
}
h4.timeline-title a {
  margin: 0;
  padding: 5px 0;
  color:#333;
}
h4.timeline-title a:hover {
  color: #00C6D7;
}
.timeline-body p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  color: #777;
  line-height: 1.9em;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 18px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

/*noinspection ALL*/
.timeline > li > .timeline-panel:after {
  position: absolute;
  top:19px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: -33px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge.primary {
  background-color: #eb5424 !important;
}

.timeline-badge.success {
  background-color: #237f52 !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #bb1e10 !important;
}
.timeline-badge.pass {
  background-color: #fdbd10 !important;
}
.timeline-badge.info {
  background-color: #44c7f4 !important;
}
h4.timeline-title {
  color: #1b242f;
  font-size: 1.2em;
  font-weight: 600;
}

/*noinspection ALL*/
ul.year {
  text-align: right;
  margin-left: 13em;
}
ul.year li {
  list-style: none;
  margin-top:30px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  background: #1b242f;
  padding: 11px 0;
  width:60%;
  display: block;
}
ul.year li:nth-child(2){
  margin-top: 119px;
}
ul.year li:nth-child(3){
  margin-top: 129px;
}
ul.year li:nth-child(4){
  margin-top: 116px;
}
ul.year li:nth-child(5){
  margin-top: 112px;
}
.timeline-badge.success i {
  font-size: 0.9em;
}
.time-main {
  margin-top: 3em;
}
/*--//work--*/
/*-- portfolio --*/
.portfolio-head h2{
  color: #202020;
  font-size: 1.8em;
  font-family: 'Asap', sans-serif;
  margin:0;
  padding:0;
}
.portfolio-head h2 span{
  font-weight:700;
  color:#2ec06c;
}
.portfolio-head p:nth-child(2){
  font-size:1.1em;
  line-height:1.8em;
  color:#666666;
  width:80%;
  margin:1em auto 0 auto;
}
.portfolio-grid{
  margin-bottom:1.8em;
}
.portfolio-grid-pic{
  position:relative;
}
.portfolio-grid-pic img{
  width:100%;
}

/*noinspection ALL*/
.portfolio-grid-pic-caption{
  position:absolute;
  background:rgba(70, 194, 122, 0.82);
  top:0px;
  bottom:0;
  text-align:center;
  width:100%;
  display:none;
}
.portfolio-grid-pic-caption a{
  color:#FFF;
  text-align:center;
  border:1px solid #FFF;
  font-size:1em;
  padding:0.7em 1.8em;
  display:inline-block;
  text-decoration:none;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  margin-top:8em;
  font-family: 'Asap', sans-serif;
}
.portfolio-grid-pic-caption a:hover{
  border-color:#202020;
  color:#202020;
}

/*noinspection ALL*/
.portfolio-grid:hover div.portfolio-grid-pic-caption{
  display:block;
}
.portfolio-grid-info h5{
  color: #202020;
  font-size: 1.4em;
  font-family: 'Asap', sans-serif;
  padding: 0.875em 0;
  margin: 0;
}
.portfolio-grid-info{
  background:#eeeeee;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
}
.portfolio-grids{
  margin-top:3em;
}

/*noinspection ALL*/
.portfolio{
  padding:3.5em 0;
}
/*-- feedback --*/
.feedback{
  background: url(../images/feedback-bg.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 300px;
  padding: 6em 0 0 0;
}
.feedback-grid p{
  color: #FFf;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.feedback-grid h4{
  color:#2ec06c;
  font-weight:700;
  font-family: 'Asap', sans-serif;
  font-size:1.3em;
  margin:1em 0 0 0;
}
.feedback-grid h4 span{
  color:#FFF;
  font-weight:400;
  font-size:0.7em;
  font-style:italic;
}
/*-- /portfolio --*/
/*noinspection ALL*/
.sap_tabs{
  clear:both;
  padding: 0em 0 0em;
}

/*noinspection ALL*/
.resp-tabs-list {
  text-align:center;
  list-style: none;
  margin: 3em 0 4em 0;
  padding: 0;
}

/*noinspection ALL*/
.resp-tab-item{
  margin: 0 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: #343A4E;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #00a78e;
  display: inline-block;
  text-align: center;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: Capitalize;
  font-weight: 600;
}

/*noinspection ALL*/
.resp-tab-active,.resp-tab-item:hover{
  color: #fff;
  border: 2px solid #00a78e;
  background:#00a78e;
}

/*noinspection ALL*/
.resp-tabs-container {
  padding: 0px;
  clear: left;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

/*noinspection ALL*/
.resp-tab-content {
  display: none;
}

/*noinspection ALL*/
.resp-content-active, .resp-accordion-active {
  display: block;
}

.modal-header {
  border: none;
}
button.close{
  outline:none;
}
.modal-dialog {
  width: 600px;
  margin: 13em auto 0;
}

/*noinspection ALL*/
.port-modal{
  background:none;
  box-shadow:none;
  border:none;
  outline:none;
}

/*noinspection ALL*/
div#portfolioModal1,div#portfolioModal2,div#portfolioModal3,div#portfolioModal4,div#portfolioModal5,div#portfolioModal6,div#portfolioModal7,div#portfolioModal8,div#portfolioModal9,div#portfolioModal10 {

  background: rgba(0, 0, 0, 0.55);
}
.team-gd img {
  width: 100%;
  border-bottom: 9px solid rgba(0, 0, 0, 0.81);
}
/*-- portfolio --*/

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

/*noinspection ALL*/
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(24,188,156,.9);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
  font-size: 35px;
}
#portfolio * {
  z-index: 2;
}
@media(min-width:767px) {
  /*noinspection ALL*/
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-content h3 {
  margin: 0 0 44px 0px;
  font-size: 2em;
  color: #fff;
}
.portfolio-modal .modal-content img {
  margin: 0 auto;
}
.portfolio-modal .modal-content p {
  font-size: 14px;
  padding: 2em 0;
  line-height: 1.8em;
  color: #fff;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 45px;
  height: 45px
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.portfolio-modal .close-modal:hover {
  opacity: .7;
}
.col-lg-offset-2 {
  margin-left: 0;
  margin:30px auto 0;
  float:none;
}

/*noinspection ALL*/
.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height:45px;
  margin-left: 35px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*noinspection ALL*/
.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height:45px;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.team-gd {
  padding: 0;
  position:relative;
}
.bottom-top {
  margin: 0 auto;
  text-align: center;
}

#port {
  padding:5em 0 0 0;
  background: #f4f4f4;
}
/*-- //portfolio --*/
/*-- contact --*/
.mail_us{
  margin-bottom: 50px;
  margin-top: 50px;
}

/*noinspection ALL*/
.contact-grid1-left {
  width: 100%;
}

/*noinspection ALL*/
.contact-grid1-left1 {
  padding: 2em;
  border-bottom: 1px ridge rgb(214, 212, 212);
  background:#fff;
  text-align: center;
}
.contact-grid1-left1 span {
  font-size: 1.5em;
  color: #00a78e;
}
.contact-grid1-left1 ul{
  padding:0;
}
.contact-grid1-left1 ul li {
  list-style-type: none;
  margin-bottom: 1em;
  font-size: 14px;
  color: #999;
}
.contact-grid1-left1 a:hover {
  color: #999;
}
.contact-grid1-left1 a {
  font-size: 14px;
  color: #00a78e;
  text-decoration: none;
}

/*noinspection ALL*/
ul.social-icons.two {
  display: block;
  padding: 0;
  margin: 2em 0;
  background: none;
}
.navbar-default .navbar-nav > li > a.active {
  color: #F2593A !important;
}
.mail_left img{
  width:100%;
}
.mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
  background: none;
  width: 100%;
  color: #777;
  padding: 19px 10px;
  margin-bottom: 24px;
  outline: none;
  border: 2px solid #00a78e;
}
.mail_right textarea {
  height:200px;
  resize:none;
}
.mail_right input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #212322;
  font-size: 16px;
  padding: 13px 40px;
}
.mail_right input[type="submit"]:hover{
  background: #00a78e;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  color:#fff;
}
.contact iframe{
  width:100%;
  height:400px;
  outline:none;
}

/*noinspection ALL*/
.mail_right {
  background: #FDFFFE;
  padding: 2em;
}
span.border.two {
  width: 18%;
  background: #fff;
  height: 1px;
  display: block;
  margin-top: 26px;
  position: relative;
  margin: 23px auto 0px;
}
span.border.two:after {
  content: ' ';
  position: absolute;
  background: #00a78e;
  height: 7px;
  display: block;
  width: 73px;
  top: -4px;
  left:65px;
}
/*-- footer --*/
.footer {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 650px;
  padding:5em 0 0em 0;
}
.footer_top ul li{
  font-size:22px;
  line-height:2em;
  list-style-type:none;
  text-transform:uppercase;
  display:inline-block;
  margin:0 20px;
}
.footer_top ul {
  margin: 45px 0 45px;
  border-bottom:1px solid #fff;
  padding-bottom: 30px;
}
.footer_top ul li a{
  color:#B3B3B3;
  text-decoration:none;

}
/*-- //footer --*/
.copy_right p {
  color: #fff;
  font-size: 0.9em;
  line-height: 1.9em;
  margin: 1em 0;
}
.copy_right p a{
  color: #00a78e;
  text-decoration:none;
}
/*-- //contact --*/
/*noinspection ALL*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url("../images/movetop.png") no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- responsive-design --*/
@media(max-width:1366px){
  /*noinspection ALL*/
  .about-left-grid {
    width: 70%;
    float: right;
    margin-right: 5em;
    min-height: 433px;
  }

  /*noinspection ALL*/
  #work,.blog{
    padding:4em 0;
  }
  .footer {
    min-height: 650px;
    padding: 4em 0 0em 0;
  }

  /*noinspection ALL*/
  #port {
    padding:4em 0 0 0;
  }

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -17px;
    padding: 6px 0;
  }

}
@media(max-width:1280px){

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -28px;
    padding: 6px 0;
  }
  .service-head h3 {
    font-size: 1.8em;
  }
  .about-left {
    padding: 5.5em 0 3.5em 0;
  }
  .about-left-grid p {
    font-size:0.9em;
    line-height: 2em;
    margin-top: 0.5em;
  }
}
@media(max-width:1024px){
  .about-left {
    padding:4em 0 3.5em 0;
  }
  .about-left-grid {
    width: 70%;
    float: right;
    margin-right:5em;
    min-height: 459px;
  }
  .news-text {
    float: right;
    padding: 0.7em 2em 2em 2em;
  }

  /*noinspection ALL*/
  #work,.blog,#services {
    padding: 3em 0;
  }

  /*noinspection ALL*/
  #port {
    padding: 3em 0 0 0;
  }
  .footer {
    min-height: 587px;
    padding: 3em 0 0em 0;
  }
  ul.year li:nth-child(2) {
    margin-top: 157px;
  }
  ul.year li:nth-child(3) {
    margin-top: 145px;
  }
  ul.year li:nth-child(4) {
    margin-top: 149px;
  }
  ul.year li:nth-child(5) {
    margin-top: 147px;
  }

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -50px;
    padding: 6px 0;
  }
}
@media(max-width:991px){
  .navigation-right ul li a {
    font-size: 0.9em;
  }
  .link-effect-3 a {
    padding: 10px 0;
    margin: 6px 4px;
  }
  .header-left {
    padding: 2em 2em 0em 0;
    float: right;
    width: 49%;
  }
  .header-right {
    padding-left: 3em;
    float: left;
    width: 50%;
    padding: 2em;
  }
  .banner-info {
    background: rgba(47, 44, 44, 0.58);
    margin-top:3em;
  }
  ul.address li ul.address-text li {
    display: inline-block;
    font-size: 0.9em;
    margin-top: 1em;
  }
  ul.address li ul.address-text li:nth-child(1) {
    width: 26%;
  }
  .about-right {
    float: none;
    min-height: 517px;
  }
  .about-left {
    padding: 3em 0 3em 0;
    float: none;
    background: #f4f4f4;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width:80%;
    float: none;
    margin-right: 0;
    min-height: 306px;
    margin-left: 7em;
  }
  #home {
    min-height: 563px;
  }
  span.border {
    width: 29%;
  }
  span.border.two {
    width: 27%;
  }

  /*noinspection ALL*/
  ul.year {
    text-align: center;
    margin-left: 0;
    margin: 0 auto 2em 0;
    padding:0;
  }
  ul.year li {
    margin-top:10px;
    font-size: 1em;
    padding: 11px 0;
    width: 29%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  ul.year li:nth-child(2){
    margin-top: 0px!important;
  }
  ul.year li:nth-child(3){
    margin-top: 0px!important;
  }
  ul.year li:nth-child(4){
    margin-top: 0px!important;
  }
  ul.year li:nth-child(5){
    margin-top: 0px!important;
    margin-bottom: 0em;
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    position: absolute;
    top: 16px;
    left: -3px;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #ccc;
    left: 20px;
    margin-right: -1.5px;
  }

  /*noinspection ALL*/
  .team-gd {
    padding: 0;
    width: 33%;
    float: left;
  }
  .thumb:hover ul li {
    margin: 113px 0px 0;
  }

  /*noinspection ALL*/
  .news-img,.news-img.two {
    float: none;
    position: relative;
    padding: 0;
  }

  /*noinspection ALL*/
  .mail_right {
    padding: 2em;
    margin-top: 1em;
  }
  .about-left-grid ul li a {
    padding: 0.6em 2em;
    font-size: 1em;
  }
}
@media(max-width:800px){
  .thumb:hover ul li {
    margin: 113px 0px 0;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 367px;
    margin-left: 7em;
  }

  /*noinspection ALL*/
  .resp-tab-item {
    margin: 0 3px;
    padding: 6px 17px;
    font-size: 16px;
  }

  /*noinspection ALL*/
  .resp-tabs-list {
    margin: 2em 0 2em 0;
    padding: 0;
  }
  span.border:after {
    height: 7px;
    width: 73px;
    top: -4px;
    left: 74px;
  }
}
@media(max-width:768px){
  .about-right {
    float: none;
    min-height: 424px;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 367px;
    margin-left: 7em;
  }
}
@media(max-width:640px){
  .mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
    background: none;
    width: 100%;
    color: #777;
    padding: 10px 10px;
    margin-bottom: 12px;
    outline: none;
    border: 2px solid #00a78e;
    font-size: 0.9em;
  }
  .mail_right textarea {
    height: 100px;
    resize: none;
  }
  .mail_right input[type="submit"] {
    font-size: 15px;
    padding: 11px 40px;
  }

  /*noinspection ALL*/
  .contact-grid1-left1 {
    padding: 1em;
  }

  /*noinspection ALL*/
  .mail_left {
    padding: 0;
  }

  /*noinspection ALL*/
  .mail_us {
    margin-bottom:12px;
    margin-top: 27px;
  }
  .news-text h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    line-height: 1.45em;
  }
  .news-grid:nth-child(3) {
    margin: 0;
  }

  /*noinspection ALL*/
  .team-gd {
    padding: 0;
    width: 50%;
    float: left;
  }

  /*noinspection ALL*/
  .wthree_about_right_grids {
    margin-top:2em;
  }
  span.menu {
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0px;
  }
  .navigation-right ul {
    position: absolute;
    left: 2%;
    width: 96%;
    z-index: 999;
    text-align: center;
    padding: 0px;
    margin: 13px 0px 0px;
  }
  .navigation-right ul.nav1 li {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 10px 0em;
  }
  ul.nav1 {
    display: none;
    margin-top: 2em;
    background: rgba(27, 26, 26, 0.98);
  }
  .navigation-right {
    margin: 0.7em 0 0;
  }
  .navigation-right ul li a {
    display: inline-block;
  }
  .navigation-right ul.nav1 li {
    padding: 0px 0;
  }
  .navigation-right ul.nav1 li:nth-child(7){
    padding-bottom:10px;
  }
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 390px;
    margin-left: 7em;
  }
  span.border:after {
    height: 7px;
    width: 73px;
    top: -4px;
    left: 53px;
  }
  span.border.one:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 46px;
  }
  span.border.two:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 43px;
  }
  .modal-dialog.about {
    width: 611px;
    margin: 2em auto 0;
  }
  .about-inner img{
    width:100%;
  }
  .banner-info {
    margin-top: 2em;
  }

  /*noinspection ALL*/
  .wthree_about_right_grid:nth-child(2) {
    margin-bottom: 1em;
  }
}
@media(max-width:600px){
  .modal-dialog.about {
    width: 518px;
    margin: 2em auto 0;
  }

  /*noinspection ALL*/
  .portfolio-grids {
    margin-top: 1.5em;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 80%;
    float: none;
    margin-right: 0;
    min-height: 418px;
    margin-left: 7em;
  }
}
@media(max-width:480px){
  /*noinspection ALL*/
  .wthree_about_right_grids {
    margin-top:1.5em;
  }
  h4.timeline-title {
    font-size: 1em;
  }
  #work, .blog, #services {
    padding: 2em 0;
  }
  .service-head h3 {
    font-size: 1.3em;
  }
  .service-head h4 {
    font-size: 0.9em;
    padding: .5em 1.2em
  }
  span.border {
    width: 40%;
    background: #8C8989;
    height: 1px;
    display: block;
    margin: 11px auto 0px;
  }
  span.border.two {
    width: 39%;
  }
  .time-main {
    margin-top: 1.5em;
  }

  /*noinspection ALL*/
  .mail_right {
    padding: 1em;
    margin-top: 1em;
  }

  /*noinspection ALL*/
  .resp-tab-item {
    margin: 0 0 5px 0px;
    padding: 6px 11px;
    font-size: 14px;
  }

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -79px;
    padding: 6px 0;
  }
  ul.news li {
    display: inline-block;
    margin-right: 0.5em;
  }
  .about-right {
    float: none;
    min-height: 334px;
  }
  .about-left-grid ul {
    margin: 1.5em 0 0 0;
    padding: 0;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 93%;
    float: none;
    margin-right: 0;
    min-height: 390px;
    margin-left: 2em;
  }
  .about-left-grid ul li a {
    padding: 0.6em 2em;
    font-size: 0.9em;
  }
  .modal-dialog.about {
    width: 442px;
    margin: 2em auto 0;
  }
  .header-right {
    padding-left:0em;
    float: left;
    width: 100%;
    padding: 1em 1em 0em 1em;
  }
  .header-right h1 {
    font-size: 1em;
    padding: .4em 1em;
  }
  .header-left {
    padding: 0em 1em 1em 1em;
    float: right;
    width: 100%;
  }
  .header-left img {
    width: 100%;
    margin-top: 3px;
  }
  .logo h1 {
    margin: 0;
    font-size: 1.8em;
  }
  .logo span {
    border: 7px solid #00a78e;
    padding: 0px 10px;
    font-size: 1.2em;
  }
  .top-header {
    padding: 1.5em 0 0 0;
  }
  .top-header2{
    padding: 3.5em 0 0 0;
  }
  }
  .navigation-right {
    margin: 0em 0 0;
  }
  .header-text {
    text-shadow: -7px 1px black;
  }
  ul.year li {
    margin-top: 10px;
    font-size: 1em;
    padding: 11px 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .resp-tabs-list {
    margin: 0em 0 1em 0;
    padding: 0;
  }
}
@media(max-width:414px){
  span.menu img {
    width: 91%;
    margin-top: 8px;
  }
  .thumb:hover ul li {
    margin: 99px 0px 0;
  }
  ul.social-icons.two {
    display: block;
    padding: 0;
    margin: 1em 0;
    background: none;
  }

  /*noinspection ALL*/
  .wthree_about_right_grid {
    text-align: center;
    width: 100%;
  }

  /*noinspection ALL*/
  .wthree_about_right_grid_left {
    padding: 0;
    float: none;
    text-align: center;
    width: 100%;
  }
  .wthree_about_right_grid_right {
    padding-right: 0;
    float: none;
    width: 100%;
    margin-bottom: 1em;
    padding: 0;
  }
  .about-right {
    float: none;
    min-height: 255px;
  }
  .about-left {
    padding: 1em 0 1em 0;
  }
  span.border,	span.border.one {
    width: 44%;
  }
  span.border.two {
    width: 42%;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 93%;
    float: none;
    margin-right: 0;
    min-height: 454px;
    margin-left: 2em;
  }
  .about-right {
    float: none;
    min-height: 234px;
  }
  #port {
    padding: 1.5em 0 0 0;
  }
  ul.news li {
    display: inline-block;
    margin-right: 0em;
    margin-bottom:10px;
  }
  ul.news li:nth-child(4) {
    margin-bottom:0;
  }
  .about-left-grid h2 {
    font-size: 1.5em;
  }
  .modal-dialog.about {
    width: 354px;
    margin: 2em auto 0;
  }
}
@media(max-width:384px){
  ul.year li {
    margin-top: 10px;
    font-size: 1em;
    padding: 11px 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
  a.read {
    padding: 0.5em 1.5em;
    font-size: 0.9em;
  }
  .service-head h3 {
    font-size: 1.4em;
  }
  .mail_right input[type="text"], .mail_right input[type="email"], .mail_right textarea {
    background: none;
    padding: 7px 10px;
    margin-bottom: 6px;
  }

  /*noinspection ALL*/
  .team-gd {
    padding: 0;
    width: 100%;
    float: left;
  }

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -35px;
    padding: 6px 0;
  }
  .logo h1 {
    font-size: 1.9em;
  }
  .thumb:hover ul li {
    margin: 123px 0px 0;
  }
  .news-text h3 {
    font-size: 1.1em;
  }
  span.border, span.border.one {
    width: 49%;
  }
  span.border.two {
    width: 49%;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 97%;
    float: none;
    margin-right: 0;
    min-height: 454px;
    margin-left: 1em;
  }

  /*noinspection ALL*/
  .portfolio-grids {
    margin-top: 1.2em;
  }
  .portfolio-modal .modal-content h3 {
    margin: 0 0 14px 0px;
    font-size: 1.5em;
  }
}
@media(max-width:375px){
  .banner-info {
    margin-top: 1.2em;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 97%;
    float: none;
    margin-right: 0;
    min-height: 473px;
    margin-left: 1em;
  }
  .about-left-grid ul li a {
    padding: 0.4em 1em;
    font-size: 0.9em;
  }
  .logo h1 {
    font-size: 1.7em;
  }
  span.menu img {
    width:85%;
    margin-top: 8px;
  }
  .news-text {
    float: right;
    padding: 0.5em 1em 1.5em 1em;
  }
}
@media(max-width:320px){
  .resp-tab-item {
    margin: 0 0px 4px 0;
    padding: 6px 9px;
    font-size: 13px;
  }

  /*noinspection ALL*/
  .about-left-grid {
    width: 94%;
    float: none;
    margin-right: 0;
    min-height: 544px;
    margin-left: 1em;
  }
  ul.address {
    margin-top: 1em;
  }
  .header-right {
    padding-left: 0em;
    float: left;
    width: 100%;
    padding: 0.5em 0.5em 0em 0.5em;
  }
  ul.address-text b {
    font-size: 0.9em;
  }
  .logo h1 {
    font-size: 1.7em;
  }
  span.menu img {
    width:80%;
    margin-top: 8px;
  }

  /*noinspection ALL*/
  #work, .blog, #services {
    padding: 1.2em 0;
  }
  span.border, span.border.one {
    width: 61%;
  }
  span.border.two {
    width: 58%;
  }

  /*noinspection ALL*/
  .thumb .team_pos {
    bottom: -83px;
    left: 0;
    margin-top: -62px;
    padding: 6px 0;
  }
}
